
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jaro:opsz@6..72&display=swap');

body{
    background-size: cover;
    background-image: url(BLAH.png);
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Anton";
}

.heading{
    font-size: 2.5rem;
    color:black; 
}

.subheading{
    font-size: 1.2rem;
    color:whitesmoke;
}

.