* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Garamond, serif;
}

body {
    background-image: url(background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.logo {
    width: 150px;
    height: 100px;
}

.intro-image {
    width: 100%;
    height: auto;
}

.navigation {
    background-color: #000000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.site-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu li > a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s all ease;
}

.nav-menu li > a:hover {
    color: red;
}

.container-body {
    display: flex;
    background-color: #111111;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.grid-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    color: white;
}

.grid-main-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.item {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.grid-sidebar {
    display: grid;
    grid-gap: 20px;
    color: white;
}

.featured-image img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

.char {
    text-align: center;
}

.char-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.char1-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}


@media (max-width: 1230px) {
    .grid-main {
        grid-template-columns: repeat(2, 1fr);
    }

    .item-3 {
        grid-column: 1;
        grid-row: 7;
    }

    .item-4 {
        grid-column: 2;
        grid-row: 7;
    }
}

@media (max-width: 980px) {
    .grid-main {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-sidebar {
        display: flex;
        flex-direction: column;
    }

    .char-info {
        padding-right: 0;
    }

    .char-details {
        padding-bottom: 20px;
    }
}
